{% extends "base.html" %}

{% block content %}
<h1 class="mt-5">Welcome to AAVAIL company's home page!</h1>

To make revenues prediction for specific country and date please visit the Predict page.<br>
To check the performance of the model please visit the Dashboard page.<br><br><br>

<head>
  <meta charset="UTF-8">
  <title>Machine Learning API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>



{% endblock %}